@font-face {
    font-family: 'Libre Baskerville';
    src: url('media/Libre-Baskerville-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Libre Baskerville';
    src: url('media/Libre-Baskerville-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Libre Baskerville';
    src: url('media/Libre-Baskerville-Italic-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Libre Baskerville';
    src: url('media/Libre-Baskerville-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html, body
{
	background: #f5f5f5;
	color: #000;
	font-family: 'Libre Baskerville', Georgia, Serif;
	font-size: 1rem;
	hyphens: auto;
	margin: 0 auto;
	padding: 0;
	text-align: justify;
}

a
{
	color: #025eee;
	font-weight: bold;
	outline: 0;
	text-decoration: none;
}

.arrow
{
	color: #999;
	font-family: 'Libre Baskerville';
}

.below-copyright { margin-top: 22px; }
.below-h1 { margin-top: -6px; }
.below-h5 { margin-top: -13px; }

.caption
{
	font-family: Helvetica, Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
	line-height: 1.3;
	margin-top: 4px;
	text-align: center;
	text-wrap: balance;
}

cite { font-style: normal; }

.contact-links
{
	font-size: 0.85rem;
	margin: 36px 0px 26px 0px;
}

.contact-links p
{
	margin: 0;
	padding-left: 20px;
	text-indent: -20px;
}

.copyright
{
	color: #999;
	font-family: Helvetica, Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
	margin-top: -26px;
	text-align: center;
}

.counseling
{
	background-color: #f5f5f5;
	border-radius: 10px;
	font-family: Helvetica, Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
	margin: 33px 22px 0px 22px;
	padding: 20px;
	text-align: center;
}

.counseling li { text-align: left; }

.footer
{
	font-family: Helvetica, Sans-Serif;
	font-size: 0.9rem;
	letter-spacing: 0.01rem;
	margin-top: 23px;
}

.green-button
{
	background: #4e8e01;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-family: Helvetica, Sans-Serif;
	font-size: 1.1rem;
	font-weight: bold;
	letter-spacing: 0.01rem;
	line-height: 1.2;
	padding: 11px 13px;
	text-align: center;
}

h1
{
	font-family: Helvetica, Sans-Serif;
	font-size: 1.7rem;
	font-weight: normal;
	line-height: 1.1;
	margin: 30px 0px;
	text-align: center;
	text-wrap: balance;
}

h2
{
	font-family: Helvetica, Sans-Serif;
	font-size: 1.5rem;
	margin: 7px 0px;
	text-wrap: balance;
}

h3
{
	font-family: Helvetica, Sans-Serif;
	font-size: 1.2rem;
	margin: -1px 0px;
	text-wrap: balance;
}

h4
{
	font-family: Helvetica, Sans-Serif;
	font-size: 1.1rem;
	font-weight: normal;
	margin: 9px 0px;
	text-align: center;
	text-wrap: balance;
}

h5
{
	font-family: Helvetica, Sans-Serif;
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 1.1;
	margin: 38px 0px;
	text-align: center;
	text-wrap: balance;
}

h6
{
	font-family: Helvetica, Sans-Serif;
	font-size: 1.3rem;
	font-weight: normal;
	line-height: 1.1;
	text-align: center;
	text-wrap: balance;
}

.helvetica
{
	font-family: Helvetica, Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
}

.header
{
	font-family: Helvetica, Sans-Serif;
	hyphens: none;
	letter-spacing: 0.01rem;
	padding: 14px 15px 0px 15px;
	text-align: center;
}

.header-separator
{
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(153, 153, 153, 1), rgba(0, 0, 0, 0));
	border: 0;
	height: 1px;
	margin-top: -2px;
	margin-bottom: 23px;
}

img { max-width: 100%; }

img.below-copyright
{
	border-radius: 4px;
	margin-top: 14px;
}

img.below-h1
{
	border-radius: 4px;
	margin-top: 4px;
}

.indent { margin-left: 20px; }

.index-links
{
	font-size: 1rem;
	font-family: 'Libre Baskerville', Georgia, Serif;
	line-height: 1.5;
	margin-top: 9px;
}

.languages
{
	color: #bbb;
	font-family: Helvetica, Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
	margin-top: 25px;
	text-align: center;
}

li
{
	font-family: Helvetica, Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
}

li:not(:first-child) { margin-top: 7px; }
.logo { width: 30.6%; }

.main-div
{
	line-height: 1.6;
	padding: 0px 15px 12px 15px;
}

.navigation
{
	display: grid;
	font-size: 1.4rem;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	line-height: 1.15;
	margin-top: 19px;
	margin-right: -2px;
}

.navigation-button-top-left
{
	font-size: 1.4rem;
	position: absolute;
	top: 13px;
	left: 15px;
}

.navigation-separator
{
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(153, 153, 153, 1), rgba(0, 0, 0, 0));
	border: 0;
	height: 1px;
	margin-top: -5px;
}

.navigation-separator-no-languages
{
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(153, 153, 153, 1), rgba(0, 0, 0, 0));
	border: 0;
	height: 1px;
	margin-top: 31px;
}

.numbered-quotes { margin: -12px 0px 0px 0px; }

.poem
{
	margin: 0px;
	margin-left: 15px;
	text-indent: -15px;
}

.quote
{
	font-family: Helvetica, Sans-Serif;
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 0.01rem;
	line-height: 1.4;
	margin-top: 22px;
	margin-bottom: 23px;
	text-align: left;
}

.quote-author
{
	display: block;
	font-size: 1.1rem;
	font-weight: normal;
	line-height: 1.5;
	margin-top: 4px;
	text-align: right;
}

.quote-book
{
	font-family: Helvetica, Sans-Serif;
	font-size: 1.05rem;
	letter-spacing: 0.01rem;
	margin-left: 20px;
}

.quote-number
{
	font-family: Helvetica, Sans-Serif;
	font-size: 0.9rem;
	margin-top: 16px;
	text-align: center;
}

.quote-source
{
	display: block;
	font-size: 1rem;
	font-weight: normal;
	margin-top: -5px;
	text-align: right;
}

.religions-symbols
{
	color: #999;
	font-size: 1.3rem;
	line-height: 0;
	margin-top: 39px;
	margin-bottom: 36px;
	text-align: center;
}

.top-links
{
	color: #bbb;
	font-size: 1rem;
	line-height: 1.3;
	margin-top: 28px;
}

ul, ol { margin-left: -19px; }

.video
{
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}

.video iframe
{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.wrapper
{
	background-color: #fff;
	border-radius: 8px;
	margin-top: 14px;
	margin-bottom: 15px;
}

@media only screen and (max-width: 749px)
{
	html, body
	{
		background: #fff;
		text-align: initial;
	}

	.logo { width: 40%; }

	.navigation-button
	{
		top: 15px;
		left: 15px;
	}

	.wrapper
	{
		border-radius: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

@media only screen and (min-width: 750px)
{
	html, body { width: 730px; }

	.contact-links
	{
		font-size: 0.9rem;
		margin: 36px 0px 26px 0px;
	}

	.counseling li { text-align: justify; }
	.header { padding: 14px 39px 0px 39px; }

	.index-links
	{
		font-size: 1.1rem;
		line-height: 1.3;
	}

	.main-div { padding: 0px 39px 37px 39px; }

	.navigation-button-corner
	{
		top: 39px;
		left: 40px;
	}

	.poem
	{
		margin-left: 40px;
		text-indent: -40px;
	}
}
